@page "/contact"
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime JSRuntime

<PageTitle>About</PageTitle>


<h1>What is Tasky</h1>
<p>Tasky is a futuristic Glassmorphic Todo App built with Blazor Framework</p>
<p>Disclaimer: Tasky is still in alpha stage, use at your own risk</p>