@page "/about"
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime JSRuntime

<PageTitle>About</PageTitle>


<h1>Contact Us</h1>
<p>if you have any question please send email to: machakir@proton.me</p>